@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  @apply text-gray-900 dark:text-gray-100;
}

.input { @apply px-3 py-2 rounded-md border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800; }
